**/.vscode/**
**/.github/**
**/test/**
**/*.map
**/*.ts
!out/**/*.js
scripts/**
docs/**
node_modules/**/typescript/**
node_modules/**/@types/**
.gitignore
.eslintrc.*
.prettier*
tsconfig.json
*.vsix
.vscode-test/**
src/**
# server/lsp_server.py  # Keep server files in package
test-config.yaml
